<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue 学习 1 ( vue 基本命令 )</title>
  <script src="./vue.js"></script>
</head>
<body>
  <!-- 使用文本插值绑定DOM元素属性 -->
  <div id="app">
    {{ message }}
  </div>
  <!-- v-bind 属性被称为指令，指令带有前缀 v-，以表示他们是 Vue 提供的特殊属性 -->
  <!-- 这条指令的作用是：将这个元素节点的 title 属性和 Vue 实例的 message 属性保持一致 -->
  <div id="app-2">
    <span v-bind:title="message">
      鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
  </div>
  <!-- app-3 这个例子说明我们不仅可以绑定数据到DOM元素，还可以绑定DOM结构 -->
  <div id="app-3">
    <p v-if="seen">现在你看到了我</p>
  </div>
  <!-- vi-for 指令可以绑定数组的数据来渲染一个项目列表 -->
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ol>
  </div>
  <!-- 可以使用 v-on 指令来绑定一个时间监听器 -->
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
  </div>
  <!-- v-model 可以实现表单输入和应用状态之间的双向绑定 -->
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message" />
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    });
    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: '页面加载于' + new Date().toLocaleString()
      }
    });
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    });
    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: '学习 Javascript' },
          { text: '学习 Vue' },
          { text: '学习牛项目' }
        ]
      }
    });
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Hello Vue.js again!'
      },
      methods: {
        reverseMessage: function() {
          this.message = this.message.split('').reverse().join('')
        }
      }
    });
    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue, again, again!'
      }
    });
  </script>
</body>
</html>
