<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>vue 学习 7 ( 列表渲染 )</title>
  <script src="./vue.js"></script>
</head>
<body>
  <!-- v-for 指令可以将一个数组对应为一组元素 -->
  <!-- v-for 指令需要使用 item in items 形式的特殊语法 -->
  <!-- items 是源数据数组, item 是数组元素迭代的别名 -->

  <!-- 在 v-for 块中，我们拥有对父作用域属性的完全访问权限 ?? -->
  <div id="app">
    <ul>
      <li v-for="item in items">{{ item.msg }}</li>
    </ul>
  </div>
  <!-- v-for 还支持一个可选的第二个参数为当前项的索引 -->
  <div id="app-2">
    <ul>
      <li v-for="(item, index) in items">
        {{ parentMsg }} - {{ index }} - {{ item.msg }}
      </li>
      <!-- 可以使用 of 替代 in 作为分隔符 -->
      <li v-for="(item, index) of items">
        {{ chileMsg }} - {{ index + 1 }} - {{ item.msg }}
      </li>
    </ul>
  </div>
  <!-- 可以使用 v-for 对对象的属性进行迭代 -->
  <!-- 注意：在便利对象的时候，是按照 Object.keys() 的结果便利，但是不能保证他的结果在不同的 JavaScript 引擎下是一致的 -->
  <div id="v-for-object">
    <ul>
      <li v-for="value in object">{{ value }}</li>
      <!-- 可以提供第二个参数为键名 -->
      <li v-for="(value, key) in object">
        {{ key }} : {{ value }}
      </li>
      <!-- 可以提供第三个参数为索引 -->
      <li v-for="(value, key, index) in object">
        {{ index + 1 }} . {{ key }} : {{ value }}
      </li>
    </ul>
  </div>

  <!-- key 那一个小节没看明白 ?? -->
  <!-- !! 建议尽可能的使用 v-for 来提供 key -->

  <!-- Vue 包含一组观察数组的变异方法 ( push, pop, shift, unshift, splice, sort, reverse ) , 他们会触发视图更新 -->
  <!-- 非变异方法 (filter, concat, slice), 可以用来替换数组，也是很高效的 -->

  <!-- 注意事项 -->
  <!-- 1.使用索引直接设置一个项的时候，Vue 检测不到，要用其他方式 -->
  <!-- eg: vm.items[indexOfItem] = newValue ( 无效 ) -->
  <!-- 转化为: Vue.set(vm.items, indexOfItem, newValue) 或者 vm.item.splice(indexOfItem, 1, newValue) -->
  <!-- 2.修改数组长度时 -->
  <!-- eg: vm.items.length = newLength -->
  <!-- 转化为：vm.items.splice(newLength) -->

  <!-- 对象更改检测注意事项 -->
  <!-- 由于 JavaScript 的限制，Vue 不能检测对象属性的添加或者删除 -->
  <!-- 对于已经创建的实例，Vue 不能动态的添加根级别的响应式属性，但是可以使用 Vue.set(object, key, value) - 同上一节 -->
  <!-- 为一个已有对象赋予多个新属性 ( Object.assign(), _.extend() ) 的时候，使用替换数组的方式 -->

  <!-- 如果要显示一个数组的过滤或者排序副本，而不是假的改变或重置原始数据。这种情况下，创建返回过滤或者培训数组的计算属性 -->
  <div id="app-3">
    <ul>
      <li v-for="n in evenNumbers"> {{ n }} </li>
      <!-- 在计算属性不适用的情况下，可以是使用一个 method 方法 -->
      <li v-for="n in even(numbers)"> {{ n }} </li>
       <!-- v-for 也可以取整数，在这种情况下，它将重复多次模板 ( 下面的实例从 1 开始，截止到 10 ) -->
       <li v-for="n in 10"> {{ n }} </li>
       <!-- 可以配合  v-for 和 <template> 渲染多个元素 -->
        <!-- v-for 和 v-if 一起使用的时候， v-for 的优先级更高 -->
        <!-- 如果想要实现有条件的跳过循环的执行，可以将 v-if 置于外层元素（或者 <template>）上 -->


        <!-- 在自定义组件中，可以向对普通元素一样使用 v-for -->

        <!-- 2.2.0+ 的版本中，当在组件中使用 v-for 的时候， key 值是必须的 -->
        <!-- 然而他不能自动传递数据到组件中，因为组件有自己独立的作用域。为了传递迭代数据到组件中，我们要使用 props. 这样可以明确数据的来源使组件可重用. -->
    </ul>
  </div>
  <div id="app-4">
    <input v-model="newTodoText"
      v-on:keyup.enter="addNewTodo"
      placeholder="Add a todo" />
    <ul>
      <li
        is="todo-item"
        v-for="(todo, index) in todos"
        v-bind:key="todo.id"
        v-bind:title="todo.title"
        v-on:remove="todos.splice(index, 1)" />
    </ul>
  </div>
  <script type="text/javascript">
    Vue.component('todo-item', {
      template: '\
        <li>\
          {{ title }}\
          <button v-on:click="$emit(\'remove\')"> X </button>\
        </li>\
      ',
      // 必须使用props,否则会报错
      props: ['title']
    })
    var app = new Vue({
      el: '#app',
      data: {
        items: [
          {msg: 'msg1'},
          {msg: 'msg2'},
          {msg: 'msg3'},
          {msg: 'msg4'}
        ]
      }
    });
    var app2 = new Vue({
      el: '#app-2',
      data: {
        parentMsg: 'Parent',
        chileMsg: 'Child',
        items: [
          {msg: 'msg1'},
          {msg: 'msg2'},
          {msg: 'msg3'},
          {msg: 'msg4'}
        ]
      }
    });
    var vForObj = new Vue({
      el: '#v-for-object',
      data: {
        object: {
          firstName: 'John',
          lastName: 'Doe',
          age: 30
        }
      }
    });
    var app3 = new Vue({
      el: '#app-3',
      data: {
        numbers: [1, 2, 3, 4, 5]
      },
      computed: {
        evenNumbers: function () {
          return this.numbers.filter(function (number) {
            return number % 2 === 0;
          });
        }
      },
      methods: {
        even: function (numbers) {
          return numbers.filter(function (number) {
            return number % 2;
          });
        }
      }
    });
    var app4 = new Vue({
      el: '#app-4',
      data: {
        newTodoText: '',
        todos: [
          { id: 1, title: 'Do the dishes' },
          { id: 2, title: 'Take out the trash' },
          { id: 3, title: 'Mow the lawn' }
        ],
        nextTodoId: 4
      },
      methods: {
        addNewTodo: function () {
          this.todos.push({
            id: this.nextTodoId++,
            title: this.newTodoText
          });
          this.newTodoText = '';
        }
      }
    });
  </script>
</body>
</html>
